altgraph @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
anyio==4.12.0
appnope==0.1.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.14.3
black==22.12.0
bleach==6.2.0
cachetools==6.2.3
certifi==2022.12.7
cffi==2.0.0
charset-normalizer==2.1.1
click==8.1.3
comm==0.2.3
contourpy==1.0.6
coverage==6.5.0
cycler==0.11.0
DateTime==4.9
debugpy==1.8.18
decorator==5.1.1
defusedxml==0.7.1
dpath==2.1.3
exceptiongroup==1.3.1
executing==1.2.0
fastjsonschema==2.21.2
fonttools==4.38.0
fqdn==1.5.1
future @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
h5py==3.7.0
httplib2==0.31.0
idna==3.4
importlib_metadata==8.7.0
ipykernel==6.31.0
ipython==8.7.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.6
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-book==2.1.0
jupyter-events==0.12.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
kiwisolver==1.4.4
lark==1.3.1
linecheck==0.1.0
lxml==6.0.1
macholib @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==3.0.3
matplotlib==3.6.2
matplotlib-inline==0.1.6
matplotlib-label-lines==0.5.1
microdf-python==0.3.0
mistune==3.1.4
more-itertools==9.0.0
mypy-extensions==0.4.3
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nodeenv==1.9.1
nptyping==1.4.4
numexpr==2.8.4
numpy==2.0.2
oauthlib==3.3.1
overrides==7.7.0
packaging==22.0
pandas==1.5.2
pandocfilters==1.5.1
parso==0.8.3
pathlib==1.0.1
pathspec==0.10.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==4.4.0
plotly==5.11.0
pluggy==0.13.1
-e git+https://github.com/MaxGhenis/policyengine-canada.git@8fca816e1357d2662a0cfc15c00379570eb53d3d#egg=policyengine_canada
policyengine-core==1.10.23
prometheus_client==0.23.1
prompt-toolkit==3.0.36
proto-plus==1.26.1
protobuf==6.33.2
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
Pygments==2.13.0
pyparsing==3.0.9
pytest==5.4.3
python-dateutil==2.8.2
python-docx==1.2.0
python-json-logger==4.0.0
python-pptx==1.0.2
pytz==2022.7
PyYAML==6.0
pyzmq==27.1.0
referencing==0.36.2
requests==2.28.1
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.27.1
rsa==4.9.1
scipy==1.13.1
seaborn==0.12.1
Send2Trash==1.8.3
six @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sortedcontainers==2.4.0
soupsieve==2.8
stack-data==0.6.2
tenacity==8.1.0
terminado==0.18.1
tinycss2==1.4.0
tokenize-rt==5.0.0
tomli==2.0.1
tornado==6.5.3
tqdm==4.64.1
traitlets==5.8.0
typing_extensions==4.15.0
typish==1.9.3
tzdata==2025.2
uri-template==1.3.0
uritemplate==4.2.0
urllib3==1.26.13
wcwidth==0.2.5
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
xlrd==2.0.2
xlsxwriter==3.2.5
yaml-changelog==0.3.0
zipp==3.23.0
zope.interface==5.5.2
